In [1]:
import numpy as np
import pandas as pd

df_star = pd.read_csv("../data/STAR.csv")

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df_star.shape

(1274, 4)

In [3]:
df_star.head()

  classtype  reading  math  graduated
0     small      578   610          1
1   regular      612   612          1
2   regular      583   606          1
3     small      661   648          1
4     small      614   636          1

In [4]:
df_star["reading"][1]

612

In [5]:
df_star.dtypes

classtype    object
reading       int64
math          int64
graduated     int64
dtype: object

In [6]:
df_star["classtype"].unique()

array(['small', 'regular'], dtype=object)

In [7]:
df_star["graduated"].unique()

array([1, 0])