In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import arviz as az
import seaborn as sns

In [2]:
%config InlineBackend.figure_format = 'retina'
RANDOM_SEED = 42
rng = np.random.default_rng(RANDOM_SEED)
az.style.use("arviz-darkgrid")
sns.set_theme(palette="colorblind")

In [3]:
def add_numbers(a, b):
    """
    returns the sum of the two numeric arguments
    """
    the_sum = a + b
    return the_sum

In [4]:
add_numbers(20, 10)

30

In [5]:
import random

def roll_die():
    """
    returns a random int between 1 and 6
    """
    return random.choice([1, 2, 3, 4, 5, 6])

In [6]:
roll_die()

1

In [7]:
roll_die()

4

In [8]:
roll_die?

In [9]:
(lambda x : x + 1)(2)

3

In [10]:
(lambda x, y: x + y)(2, 3)

5

In [11]:
myadd = lambda x, y: x + y

In [12]:
myadd(20, 10)

30

In [13]:
lambda x, y: x + y

In [14]:
_(20, 10)

30

In [15]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = list(map(lambda x: x * x, a))
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
c = list(filter(lambda x: x > 50, b))
c

[64, 81, 100]

In [17]:
filter(lambda x: x > 50, b)

In [18]:
list(filter(lambda x: x > 50, b))

[64, 81, 100]

In [19]:
a = list(range(4))
a

[0, 1, 2, 3]

In [20]:
b = list(range(4, 8))
b

[4, 5, 6, 7]

In [21]:
b = zip(a, b)
b

In [22]:
list(b)

[(0, 4), (1, 5), (2, 6), (3, 7)]

In [23]:
names = ["Sigmund Freud", "Jean Piaget", "Burrhus Frederic Skinner", "Albert Bandura"]
born = [1856, 1896, 1904, 1925]
dead = [1939, 1980, 1990, None]

In [24]:
name = "Maria"
grade = 29

if name == "Maria" and grade > 28:
    print("Maria, hai ottenuto un ottimo voto all'esame!")

if name == "Giovanna" or grade > 28:
    print(
        "Tu potresti essere Giovanna oppure potresti avere ottenuto un ottimo voto all'esame."
    )

if name != "Giovanna" and grade > 28:
    print("Tu non sei Giovanna ma hai ottenuto un ottimo voto all'esame.")

Maria, hai ottenuto un ottimo voto all'esame!
Tu potresti essere Giovanna oppure potresti avere ottenuto un ottimo voto all'esame.
Tu non sei Giovanna ma hai ottenuto un ottimo voto all'esame.

In [25]:
name_list = ["Maria", "Giovanna"]
name_list_two = ["Marco", "Francesco"]

# Compare values
print(name_list == name_list_two)

# Compare objects
print(name_list is name_list_two)

False
False

In [26]:
name_list = ["Maria", "Giovanna", "Marco", "Francesco"]

print("Giovanna" in name_list)
print("Luca" in name_list)

True
False

In [27]:
print("Luca" not in name_list)

True

In [28]:
age = 26
if age >= 18:
    print("Sei maggiorenne")

Sei maggiorenne

In [29]:
age = 26
b = "Sei maggiorenne" if age >=18 else "Sei minorenne"
print(b)

Sei maggiorenne

In [30]:
age = 16
b = "Sei maggiorenne" if age >=18 else "Sei minorenne"
print(b)

Sei minorenne

In [31]:
age = 16
if age >= 18:
    print("Sei maggiorenne")
else:
    print("Sei minorenne")

Sei minorenne

In [32]:
cfu = 36
thesis_defense = False

if cfu >= 180 and thesis_defense == True:
    print("Puoi andare a festeggiare!")
elif cfu >= 180 and thesis_defense == False:
    print("Devi ancora superare la prova finale!")
else:
    print("Ripassa tra qualche anno!")

Ripassa tra qualche anno!

In [33]:
# This is a comment and will not be executed.

In [34]:
counter = 0

while counter <= 10:
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9
10

In [35]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)

0
1
2
3
4
5

In [36]:
language = "Python"
for letter in language:
    print(letter)

P
y
t
h
o
n

In [37]:
print(list(range(0, 11, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
print(list(range(3, 12, 2)))

[3, 5, 7, 9, 11]

In [39]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [40]:
for number in range(3, 12, 2):
    print(number)

3
5
7
9
11

In [41]:
for i in range(4):
    for j in range(4):
        print((i, j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [42]:
for name in name_list:
    print(name)

Maria
Giovanna
Marco
Francesco

In [43]:
numbers = [2, -4, 1, 6, 3]

total = 0
for num in numbers:
    total += num

print(total)

8

In [44]:
numbers = [2, -4, 1, 6, 3]

for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

print(numbers)

[4, -8, 2, 12, 6]

In [45]:
numbers = [2, -4, 1, 6, 3]
len(numbers)

5

In [46]:
list(range(5))

[0, 1, 2, 3, 4]

In [47]:
new_list = []
k = 10
for x in range(10):
    new_list.append(x + k)

new_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [48]:
new_list = [x + k for x in range(10)]
new_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [49]:
list1 = [1, 2, 3, 4, 5, 6]
print("list1:", list1)

list1: [1, 2, 3, 4, 5, 6]

In [50]:
list2 = [item + 1 for item in list1]
print("list2:", list2)

list2: [2, 3, 4, 5, 6, 7]

In [51]:
list3 = [item + 1 for item in list1 if item % 2 == 0] 
print('list3:', list3)

list3: [3, 5, 7]

In [52]:
num_list = range(50, 60)
[1 + num for num in num_list]

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [53]:
[i for i in range(11) if i % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [54]:
[-i if i % 2 else i for i in range(11)]

[0, -1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

In [55]:
[(i, j) for i in range(3) for j in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3)]

In [56]:
first_names = ["Maria", "Marco", "Francesco", "Giovanna"]
female_names = ["Alice", "Maria", "Giovanna", "Lisa"]
female_list = [name for name in first_names if name in female_names]
print(female_list)

['Maria', 'Giovanna']

In [57]:
letters = [name[0:3] for name in first_names] 
letters

['Mar', 'Mar', 'Fra', 'Gio']

In [58]:
my_string = "barbablù"
my_string[-1]

'ù'

In [59]:
letters = [name[-3:] for name in first_names] 
letters

['ria', 'rco', 'sco', 'nna']

In [60]:
num = np.array([4, 7, 2, 6, 3, 9])  # può anche essere una lista Python
[e if e % 2 == 0 else 99 for e in num]

[4, 99, 2, 6, 99, 99]

In [61]:
import matplotlib.pyplot as plt

In [62]:
# import everything from library
import random
# call function by
random.random()

0.8276798945954928

In [63]:
#import everything, but change name
import random as rnd
# call function by
rnd.random()

0.44867236987906334

In [64]:
# select what to import from library
from random import random
#call function by
random()

0.8841713742867969

In [65]:
# import everything from library
from random import *
# call function by
random()

0.1387220122450915

In [66]:
import seaborn as sns
sns.set_theme()
sns.set_palette("colorblind")

In [67]:
import numpy as np

primes = [1, 2, 3, 5, 7, 11, 13]
np.sum(primes)

42

In [68]:
np.mean(primes)

6.0

In [69]:
def my_mean(x):
    res = np.sum(x) / len(x)
    return res

In [70]:
my_mean(primes)

6.0

In [71]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [72]:
%load_ext watermark
%watermark -n -u -v -iv -w -m

Last updated: Mon Jan 29 2024

Python implementation: CPython
Python version       : 3.11.7
IPython version      : 8.19.0

Compiler    : Clang 16.0.6
OS          : Darwin
Release     : 23.3.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit

pandas    : 2.1.4
matplotlib: 3.8.2
numpy     : 1.26.2
arviz     : 0.17.0
seaborn   : 0.13.0

Watermark: 2.4.3